$width = 480px
$padding = 0px
$col = 40px
$font-size = 14px
$line-height = 1.5em
$font-family = Tahoma, Geneva, sans-serif
$color = #333333
$color1 = #c9c9c9
$color2 = #e3e3e3
$color3 = #9ad3de
$color4 = #89bdd3